<h1>{{league.name}} Standings:</h1>
<h2>{{league.bDate}}</h2>
<h2>{{league.eDate}}</h2>

{{log stats}}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Team Name</th>
            <th scope="col">Points</th>
            <th scope="col">Wins</th>
            <th scope="col">Losses</th>
            <th scope="col">Ties</th>
            <th scope="col">Goals For</th>
            <th scope="col">Goals Against</th>
        </tr>
    </thead>

    <tbody>
        {{#each league.teams}}
        <tr>
            <td>{{name}}</td>
            {{#each stats}}
            <td>{{points}}</td>
            <td>{{wins}}</td>
            <td>{{losses}}</td>
            <td>{{ties}}</td>
            <td>{{goalsFor}}</td>
            <td>{{goalsAgainst}}</td>
            {{/each}}
            {{/each}}

        </tr>
    </tbody>
</table>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#teamCreateModal">
    Add new team
</button>

<div class="modal fade" id="teamCreateModal" tabindex="-1" role="dialog" aria-labelledby="teamCreateModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="teamCreateModalLabel">Input Team details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/league/{{league._id}}/teams" method="POST" class="auth-form">
                    <div>
                        <label>Name of team:</label>
                        <input type="text" name="name" placeholder="Enter Name">
                    </div>
                    <div>
                        <label for="">Team Motto:</label>
                        <input type="text" name="motto" placeholder="Motto">
                    </div>
                    <div>
                        <label for="">Team logo</label>
                        <input type="img" name="logo" placeholder="Logo">
                    </div>
                    <button type="submit">Next:</br>Add Teams</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#leagueCreateModal">
    Update League
</button>

<div class="modal fade" id="leagueCreateModal" tabindex="-1" role="dialog" aria-labelledby="leagueCreateModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="leagueCreateModalLabel">Input League details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/league/{{league._id}}?_method=PUT" method="POST" class="auth-form">
                    <div>
                        <label>Name of League:</label>
                        <input type="text" name="name" placeholder="Enter Name">
                    </div>
                    <div>
                        <label for="">Beginning Date:</label>
                        <input type="date" name="bDate" placeholder="Beginning Date">
                    </div>
                    <div>
                        <label for="">End Date:</label>
                        <input type="date" name="eDate" placeholder="End Date">
                    </div>
                    <button type="submit">Submit Changes</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<a class="btn btn-primary" href="/league/{{league._id}}/stats/edit" role="button">Update Stats</a>

<form action="/league/{{league._id}}?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-danger">Delete League</button>
</form>