<h1>{{team.name}}</h1>
{{team.stats}}

{{#each team.stats}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{points}}</h5>
    <h5 class="card-title">{{wins}}</h5>
    <h5 class="card-title">{{losses}}</h5>
  </div>
</div>
{{/each}}

